*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:"Roboto",sans-serif;
}
.body{
    display:flex;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color:#1f2937;
    padding:20px 100px;
}
.header ul{
    display:flex;
    list-style-type: none;
    gap:20px;
    font-size:18px;
    color:#E5E7EB
}
.header h1{
    font-size:24px;
    color:#f9faf8;
}
.top{
    display:flex;
    padding:20px 100px;
    justify-content: space-between;
    gap:30px;
    background-color:#1f2937;
}
.top img{
    width:500px;
    height:auto;
    margin:0px 0px 50px 50px;
}
.top h1{
    font-size:48px;
    color:#f9faf8;
}
.top p{
    color:#E5E7EB;
    font-size:18px;
}
.top button{
    background-color:#3882f6;
    color:white;
    padding:8px 16px;
    border-radius:10px;
    margin-top:10px;
}

.middle{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding:20px;
    margin-bottom:75px;

}

.middle h1{
    margin-bottom:20px;
    font-size:36px;
    color:#1f2937;
    font-weight:900;
}

.middle .info-container{
    display:flex;
    justify-content: space-evenly;
    padding:0px 100px;
    gap:40px;
}
.middle .info{
    display:flex;
    align-items:center;
    flex-direction: column;
    text-align:center;
    width:150px;
    height:auto;
}
.middle img{
    width:150px;
    height:150px;
    border:4px solid rgb(69, 152, 230);
    flex-shrink:0px;
    flex-basis:auto;
    border-radius:30px;
    margin-bottom:5px;

}
.quote{
    display:flex;
    flex-direction:column;
    padding:75px 200px;
    background-color:#E5E7EB
}
.quote h2{
    font-size:36px;
    font-style:italic;
    font-weight:lighter;
    color:#696969
}
.quote h1{
    margin-left:auto;
    font-size:24px;
    margin-top:20px;
}
.bottom{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:100px;
}
.bottom .container{ 
    background-color:#3882f6; 
    padding:50px 100px;
    border-radius:10px;
    display:flex;
    justify-content: space-between;
    width:900px;
}
.bottom .text-container{
    color:white;
}

.bottom h1{
    font-size:24px;
}
.bottom button{
    padding:8px 30px;
    border:3px solid white;
    border-radius: 10px;
    background-color:#3882f6; 
    color:white;
    font-weight:900;
    font-size:16px;
}
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#1f2937;
    color:white;
    height:100px;
}